footer {

    height: calc(2vh + 20px);
    width: 100vw;

    background-color: #161616;
    box-shadow: inset 0 0 30px #070707;

    position: fixed;
    top: calc(98vh - 20px);

}

#navbar {
    width: 100%;
    height: 70px;

    background-color: rgba(16,16,16,0.8);
    box-shadow: inset 0 0 20px #070707;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 0 5px 0;

    position: fixed;
    z-index: 200;
}

#navigation {
    margin: 10px;
}

#clan-readiness {
    display: flex;
    margin: 10px;
}
.readyIcon {
    width: 40px;
    height: 40px;
    box-shadow: inset 0 0 10px #070707;
}

.readyIcon.red.ready{background-color: red;}
.readyIcon.yellow.ready{background-color: yellow;}
.readyIcon.green.ready{background-color: #00ff00;}
.readyIcon.cyan.ready{background-color: cyan;}
.readyIcon.blue.ready{background-color: blue;}
.readyIcon.purple.ready{background-color: magenta;}

.readyIcon.red.notReady{background-color: #760000;}
.readyIcon.yellow.notReady{background-color: #777700;}
.readyIcon.green.notReady{background-color: #004400;}
.readyIcon.cyan.notReady{background-color: #008080;}
.readyIcon.blue.notReady{background-color: #000077;}
.readyIcon.purple.notReady{background-color: #410041;}

#budget-box {
    margin: 10px;
}
#current-budget {
    font-size: 2em;
}
#spendings {
    color: #ff7777;
    font-size: 1.5em;
    float: right;
}

#MapBoard {
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: 1;*/
}

.hexagon {
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 0 0 0;

    /*z-index: -3;*/
}

.structure {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 0 0 0;

    /*z-index: -2;*/
}

.window-div {
    font-size: 1.5em;
    padding: 10px
}