	@font-face{
		font-family: 'MachineC';
		src: url('/fonts/MachineC/10733.otf');
		src: url('/fonts/MachineC/10733.ttf');
		font-weight: normal;
		font-style: normal;
	}
	.selected{
		background-color: white;
		margin-top: -5px;
		margin-right: -10px;
		box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
	}

	.cells {
		position: absolute;
		width: 85px;
		height: 86px;
		display: block;
		margin: 0 0 0 0;
	}
	.buildings {
		position: absolute;
		width: 70px;
		height: 70px;
		display: block;
		margin: 0 0 0 0;
	}
	.ships {
		z-index: 2;
		position: absolute;
		width: 70px;
		height: 70px;
		display: block;
		margin: 0 0 0 0;
		transition: margin-left 2s, margin-top 2s;
	}
	html, body{
		margin: 0;
		height: 100%;
		width: 100%;
		font-family: Arial;
		color: grey;
	}
	.test_box {
		width: 85px;
		height: 63.75px;
		border: 1px dotted black;
		position: absolute;
	}
	#tool_box {
		border: 10px solid grey; 
		width: 1200px; 
		height: 250px; 
		z-index: 3; 
		position: fixed;
		background-color: lightgrey;
		margin: auto;
		padding: 10px;
		box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
		transition: top 1s, margin-top 1s;
	}
	#images_gallery {
		padding: 5px;
		transition: margin-left 2s;
		white-space: nowrap;
	}
	#folder_gallery {
		border: 10px solid grey;
		max-height: 200px;
		width: 900px;
		overflow: hidden;
		margin: auto;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
	.gal_images {
		height: 160px;
		width: 160px;
		margin: 5px;
		margin-left: 0;
		box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
	}
	#crutch {
		width: 100%;
		position: fixed;
		z-index: 0;
	}
    #chat{
		border: 6px solid grey;
		width: 500px;
		height: 400px;
		position: fixed;
		overflow: hidden;
		white-space: nowrap;
		transition: margin 1s, height 1s, width 1s;
		z-index: 3;
		
	}
	#text{
		margin: 0;
		float: left;
	}

/*////////////////////////////////
// Map saving
////////////////////////////////*/
#saver{
	font-family: 'MachineC';
	font-size: 40px;
	position: fixed;
	padding: 20px;
	border: 8px solid grey;
	background-color: lightgrey;
	color: grey;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
	width: 250px;
	transition: left 1s;
}
#saver > div > div {
	display: inline-block;
}
#saver > div:nth-child(2n){
}

.btn{
	margin-top: 8px;
	background-color: green;
	display: inline-block;
	width: 24px; height: 24px;
	border: 4px solid grey;
	float:right;
	transition: background-color 1s;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.btnwork:hover{
	background-color: lightgreen;
}

/*////////////////////////////////
// Prompt window
////////////////////////////////*/

#backlocker
{
	position: fixed;
	z-index: 9000;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	top: 0; left: 0;
}

#prompt-container
{
	left: 0;
	top: 0;
	position: fixed;
	z-index: 9001;
	display: block;
	padding: 10px;
	background-color: lightgrey;
	border: 10px solid grey;
}

/*//////////////////////////////////
// Closer
//////////////////////////////////*/
.closer {
position: fixed;
border: 5px solid grey;
background: lightgrey;
width: 30px;
height: 30px;
padding: 5px;
padding-top: 4px;
padding-bottom: 6px;
color: grey;
font-family: 'MachineC';
font-size: 30px;
text-align: center;
box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.closer:hover {
	background-color: white;
}
#closertool_box{
	transition:  top 1s, background-color 1s;
}
#closersaver{
	transition: left 1s,background-color 1s;
}

/*//////////////////////////////////
// Save map code
//////////////////////////////////*/

#mapcode {
padding: 5px;
color: grey;
font-family: 'MachineC';
font-size: 30px;
position: fixed;
border: 10px solid grey;
background: lightgrey;
overflow: hidden;
white-space: nowrap;
transition: left 1s;
box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

